In [1]:
import numpy as np
import pandas as pd
import random

In [2]:
# 처음 보상값 입력을 위한 값 설정
rewards = np.array([
    [-1, -1, -1, -1, 0, -1],
    [-1, -1, -1, 0, -1, 100],
    [-1, -1, -1, 0, -1, -1],
    [-1, 0, 0 , -1, 0, -1],
    [0, -1, -1, 0, -1, 100],
    [-1, 0, -1, -1, 0, 100]
])

In [3]:
# 보상값 메트릭스
pd.DataFrame(rewards)

   0  1  2  3  4    5
0 -1 -1 -1 -1  0   -1
1 -1 -1 -1  0 -1  100
2 -1 -1 -1  0 -1   -1
3 -1  0  0 -1  0   -1
4  0 -1 -1  0 -1  100
5 -1  0 -1 -1  0  100

In [4]:
# Q값 메트릭스
q_matrix = np.zeros((6, 6))
pd.DataFrame(q_matrix)

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [5]:
# Q값 메트릭스
q_matrix = np.zeros((6, 6))
pd.DataFrame(q_matrix)

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  0.0
1  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  0.0  0.0
3  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0
5  0.0  0.0  0.0  0.0  0.0  0.0

In [25]:
def set_initial_state(rooms = 6): #초기상태의 룸 설정
    return np.random.randint(0, rooms)


def get_action(current_state, reward_matrix): #상태지정후 가능한  Action 선택
    valid_actions = []
    for action in enumerate(reward_matrix[current_state]):
        if action[1] != -1:
            valid_actions += [action[0]]
    return random.choice(valid_actions)

    
def take_action(current_state, reward_matrix, gamma, verbose = False): #하나의 작업 수행
    action = get_action(current_state, reward_matrix)
    sa_reward = reward_matrix[current_state, action] # 현재 상태-행동 보상값
    ns_reward = max(q_matrix[action,]) # 다음 상태-행동 보상값
    q_current_state = sa_reward + (gamma * ns_reward)
    q_matrix[current_state, action]  = q_current_state # q-matrix의 변경
    new_state = action
    if verbose: 
        print(q_matrix)
        print(f"Old State: {current_state} | New State: {new_state}\n\n")
        if new_state == 5:
              print(f"Agent has reached it's goal!") 
    return new_state
    
def initialize_episode(reward_matrix, initial_state, gamma, verbose = False):
  # 에이전트가 목표 상태가 될때까지 시뮬레이션을 수행
    current_state = initial_state
    while True: # 5번방으로 초기화 되면 안되므로 5번방은 선택하지 않음
        current_state = take_action(current_state, reward_matrix, gamma, verbose)
        if current_state == 5:
            break
        
def train_agent(iterations, reward_matrix, gamma, verbose = False):
  # 지정된 수의 에피소드를 실행한 후 행렬을 정규화
    print("Training in progress..")
    for episode in range(iterations):
        initial_state = set_initial_state()
        initialize_episode(reward_matrix, initial_state, gamma, verbose)
    print("Training complete! 💯💯💯💯")
    return q_matrix
   
def normalize_matrix(q_matrix):
    normalized_q = q_matrix / max(q_matrix[q_matrix.nonzero()]) * 100
    return normalized_q.astype(int)

In [26]:
gamma = 0.1 # 학습속도의 설정이며, 0~1사이의 값을 가진다. 0은 아무것도 학습하지 않음, 0.9는 에이전트가 매우 빠르게 학습
initial_state = 2 # 2번방에서 시작
initial_action = get_action(initial_state, rewards)

initialize_episode(rewards, initial_state, gamma, True)

[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400. 256.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 2 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 2


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0. 400.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 2 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0. 320.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 1


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0. 400.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 1 | New State: 3


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [320.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 4


[[  0.   0.   0.   0. 400.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [ 40.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 0


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [ 40.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 0 | New State: 4


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 0


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0. 320.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 0 | New State: 4


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 4 | New State: 3


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 500.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 3 | New State: 1


[[  0.   0.   0.   0.  50.   0.]
 [  0.   0.   0.  40.   0. 150.]
 [  0.   0.   0.  40.   0.   0.]
 [  0.  50.   4.   0.  50.   0.]
 [  5.   0.   0.   5.   0. 500.]
 [  0. 400.   0.   0. 400. 500.]]
Old State: 1 | New State: 5


Agent has reached it's goal!

In [27]:
# Test run of full training (training = 2000 iterations)
gamma = 0.8
initial_state = set_initial_state()
initial_action = get_action(initial_state, rewards)

# In DataFrame for display purposes
pd.DataFrame(train_agent(2000, rewards, gamma, False))

Training in progress..
Training complete! 💯💯💯💯

       0      1      2      3      4      5
0    0.0    0.0    0.0    0.0  400.0    0.0
1    0.0    0.0    0.0  320.0    0.0  500.0
2    0.0    0.0    0.0  320.0    0.0    0.0
3    0.0  400.0  256.0    0.0  400.0    0.0
4  320.0    0.0    0.0  320.0    0.0  500.0
5    0.0  400.0    0.0    0.0  400.0  500.0

In [28]:
# In DataFrame for Display purposes
pd.DataFrame(normalize_matrix(q_matrix))

    0   1   2   3   4    5
0   0   0   0   0  80    0
1   0   0   0  64   0  100
2   0   0   0  64   0    0
3   0  80  51   0  80    0
4  64   0   0  64   0  100
5   0  80   0   0  80  100