In [36]:
import pandas as pd

In [37]:
df=pd.read_csv("행정동_인구.csv")

In [38]:
df.head()

  동별(2) 동별(3)  인구 (명)  면적 (㎢)  인구밀도 (명/㎢)  Cluster
0   종로구   가회동    4065    0.54        7528        3
1    중구   광희동    6682    0.74        9030        2
2   종로구   교남동    9994    0.35       28554        3
3    중구   다산동   13954    0.51       27361        0
4    중구   동화동   10199    0.26       39227        0

In [39]:
df_cl=pd.DataFrame()

In [40]:
df_cl['0']=df[df['Cluster']==0].iloc[:, 2:].mean()
df_cl['1']=df[df['Cluster']==1].iloc[:, 2:].mean()
df_cl['2']=df[df['Cluster']==2].iloc[:, 2:].mean()
df_cl['3']=df[df['Cluster']==3].iloc[:, 2:].mean()
df_cl['4']=df[df['Cluster']==4].iloc[:, 2:].mean()
df_cl['5']=df[df['Cluster']==5].iloc[:, 2:].mean()

In [41]:
df_cl

,0,1,2,3,4,5
인구 (명),11430.153846,21063.500000,5583.857143,10534.125000,32370.769231,19429.090909
면적 (㎢),0.519231,0.838333,1.100000,1.378125,1.533846,0.755455
인구밀도 (명/㎢),25854.923077,26006.333333,5311.857143,17274.812500,24688.769231,27933.181818
Cluster,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000

In [42]:
df[df['Cluster']==3].describe()

            인구 (명)     면적 (㎢)   인구밀도 (명/㎢)  Cluster
count     16.00000  16.000000     16.00000     16.0
mean   10534.12500   1.378125  17274.81250      3.0
std     4992.81075   2.120199  11295.40862      0.0
min     2642.00000   0.230000   1773.00000      3.0
25%     6468.75000   0.382500   4498.75000      3.0
50%    10253.50000   0.620000  21433.00000      3.0
75%    14071.00000   1.392500  26490.25000      3.0
max    20155.00000   8.870000  33698.00000      3.0

In [43]:
df[df['Cluster']==3]

   동별(2)  동별(3)  인구 (명)  면적 (㎢)  인구밀도 (명/㎢)  Cluster
0    종로구    가회동    4065    0.54        7528        3
2    종로구    교남동    9994    0.35       28554        3
10   중랑구   면목5동   14836    0.70       21194        3
19   종로구    무악동    8052    0.36       22367        3
22   종로구    부암동    9536    2.27        4201        3
24   종로구    삼청동    2642    1.49        1773        3
28   종로구   숭인1동    6057    0.23       26335        3
31   중랑구   신내2동   20155    0.93       21672        3
32    중구   신당5동   10513    0.39       26956        3
36   양천구   신월3동   14934    0.87       17166        3
39   양천구   신월6동   13816    0.41       33698        3
50    중구    장충동    5326    1.36        3916        3
53    중구    중림동   12338    0.48       25704        3
58   종로구   창신3동    6606    0.23       28722        3
60   종로구  청운효자동   11818    2.57        4598        3
61   종로구    평창동   17858    8.87        2013        3

In [35]:
df[df['동별(2)']=='종로구']

   동별(2)        동별(3)  인구 (명)  면적 (㎢)  인구밀도 (명/㎢)  Cluster
0    종로구          가회동    4065    0.54        7528        3
2    종로구          교남동    9994    0.35       28554        3
19   종로구          무악동    8052    0.36       22367        3
22   종로구          부암동    9536    2.27        4201        3
23   종로구          사직동    9355    1.23        7606        2
24   종로구          삼청동    2642    1.49        1773        3
28   종로구         숭인1동    6057    0.23       26335        3
29   종로구         숭인2동   10509    0.35       30026        0
49   종로구          이화동    7631    0.78        9783        0
51   종로구  종로1.2.3.4가동    8700    2.35        3702        2
52   종로구      종로5.6가동    5817    0.60        9695        0
56   종로구         창신1동    5383    0.31       17365        0
57   종로구         창신2동    8796    0.26       33831        0
58   종로구         창신3동    6606    0.23       28722        3
60   종로구        청운효자동   11818    2.57        4598        3
61   종로구          평창동   17858    8.87        2013        3
63   종로구          혜화동   19392    1.12       17314        4

양천구/신월6동: 학교 2개(초, 중), 아파트, 빌라 많음  
양천구/신월3동: 학교 6개(초2, 중1, 고3),  아파트, 빌라 많음, 스타벅스, 요양병원, 골목시장 1  
중랑구/신내2동: 학교 4개(초4), 아파트 많음, 공원, 홈플러스  
중랑구/면목5동: 아파트, 빌라 많음, 시장 있지만 대형 홈플러스도  
중구/중림동: 아파트 많음, 문화시설 1, 충정로역 주변 병원  
중구/신당5동: 학교3개(초1, 고2), 아파트 많음, 신당역 주변 식당 상권  
중구/장충동: 학교 1개(고1), 체육관, 야구장, ... 대형 문화시설 다수, 족발거리  
종로구/가회동: 학교 1개(초1),  갤러리, 문화재, 역사기념관 다수, 부  
종로구/평창동: 미술관, 북한산 일대, 학교 2개(고1,대학원1), 전체의 65%가 개발제한구역, 부촌  
종로구/삼청동: 정치시설 다수, 북악산 일대, 카페골목, 군부대 다수   
종로구/부암동: 북악산 일대, 미술관 다수, 기생충 등 드라마,영화 촬영지  
종로구/교남동: 주거단지. 인구밀도 28,000  
종로구/무악동: 인왕산 일대, 아파트 많음, 학교1(초1), 주거단지. 인구밀도 22,177  
종로구/청운효자동: 청와대, 경복궁, 학교4개(중2, 고1, 특1), 북악산 일대  
종로구/숭인1동: 주택밀집지역, 공원, 인구밀도 26335  
종로구/창신3동: 인구밀도 3만대  
  
양천구는 전체적으로 주거지역, 시 외곽.  
청운효자동,평창동,혜화동: 종로구 인구 top3, 1만명 이상  

주거단지인 경우가 많음. 종로구의 경우 문화시설이 많음. 개발 제한 구역도 많은듯함  
주거단지는 상권 발달 대상으로 봐도 될지..?

주거지역이 많아 유동인구 수가 적게 나온 듯 
-> 마트나 병원 처럼 생활시설 인근에 음식점, 카페 들을 좀더 배치하는것이 방안 ?
-> 주거지역이 대다수라는 점을 들어서 아예 배제하는 것도 방법일듯함.