##### Author : 문범수
##### date : 2024-03-10
##### title : 03/10 필수과제3

### 필수과제3- x feature 스케일링 진행
- 기존에 스케일링 진행하지 않은 피처들 스케일링

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
train=pd.read_csv('trainby.csv')
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [5]:
train_sp=train[['season','holiday','workingday','weather','temp','atemp','count']]
train_sp['count_log']=np.log(train_sp['count'])
train_sp

C:\Users\munbe\AppData\Local\Temp\ipykernel_9572\1581328506.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_sp['count_log']=np.log(train_sp['count'])

       season  holiday  workingday  weather   temp   atemp  count  count_log
0           1        0           0        1   9.84  14.395     16   2.772589
1           1        0           0        1   9.02  13.635     40   3.688879
2           1        0           0        1   9.02  13.635     32   3.465736
3           1        0           0        1   9.84  14.395     13   2.564949
4           1        0           0        1   9.84  14.395      1   0.000000
...       ...      ...         ...      ...    ...     ...    ...        ...
10881       4        0           1        1  15.58  19.695    336   5.817111
10882       4        0           1        1  14.76  17.425    241   5.484797
10883       4        0           1        1  13.94  15.910    168   5.123964
10884       4        0           1        1  13.94  17.425    129   4.859812
10885       4        0           1        1  13.12  16.665     88   4.477337

[10886 rows x 8 columns]

In [7]:
train_fit_X=train_sp[['season','holiday','workingday','weather','temp','atemp']]

In [8]:
train_fit_Y=train_sp['count_log']

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
scaler_st=StandardScaler()
scaler_st.fit(train_fit_X)
train_fit_X_st=scaler_st.transform(train_fit_X)

train_fit_X_st=pd.DataFrame(data=train_fit_X_st, columns=train_fit_X.columns)
train_fit_X_st

         season  holiday  workingday   weather      temp     atemp
0     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
1     -1.349864 -0.17149   -1.460672 -0.660178 -1.438907 -1.182421
2     -1.349864 -0.17149   -1.460672 -0.660178 -1.438907 -1.182421
3     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
4     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
...         ...      ...         ...       ...       ...       ...
10881  1.338012 -0.17149    0.684616 -0.660178 -0.596935 -0.467310
10882  1.338012 -0.17149    0.684616 -0.660178 -0.702182 -0.735182
10883  1.338012 -0.17149    0.684616 -0.660178 -0.807428 -0.913959
10884  1.338012 -0.17149    0.684616 -0.660178 -0.807428 -0.735182
10885  1.338012 -0.17149    0.684616 -0.660178 -0.912675 -0.824865

[10886 rows x 6 columns]

In [11]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [12]:
X_train, X_test, y_train, y_test=train_test_split(train_fit_X_st, train_fit_Y, test_size=0.3, random_state=111)

In [13]:
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [14]:
pred_train_1=model.predict(X_train)
pred_test_1=model.predict(X_test)

In [15]:
mse_train_1=mean_squared_error(y_true=y_train, y_pred=pred_train_1)
mse_test_1=mean_squared_error(y_true=y_test, y_pred=pred_test_1)

In [16]:
print(mse_train_1)
print(mse_test_1)

1.870670572959685
1.8991899558133658

In [17]:
from sklearn.preprocessing import MinMaxScaler

In [18]:
scaler_mm=MinMaxScaler()
scaler_mm.fit(train_fit_X)
train_fit_X_mm=scaler_mm.transform(train_fit_X)

train_fit_X_mm=pd.DataFrame(data=train_fit_X_mm, columns=train_fit_X.columns)
train_fit_X_mm

       season  holiday  workingday  weather      temp     atemp
0         0.0      0.0         0.0      0.0  0.224490  0.305068
1         0.0      0.0         0.0      0.0  0.204082  0.288064
2         0.0      0.0         0.0      0.0  0.204082  0.288064
3         0.0      0.0         0.0      0.0  0.224490  0.305068
4         0.0      0.0         0.0      0.0  0.224490  0.305068
...       ...      ...         ...      ...       ...       ...
10881     1.0      0.0         1.0      0.0  0.367347  0.423649
10882     1.0      0.0         1.0      0.0  0.346939  0.372860
10883     1.0      0.0         1.0      0.0  0.326531  0.338964
10884     1.0      0.0         1.0      0.0  0.326531  0.372860
10885     1.0      0.0         1.0      0.0  0.306122  0.355856

[10886 rows x 6 columns]

In [19]:
X_train, X_test, y_train, y_test=train_test_split(train_fit_X_mm, train_fit_Y, test_size=0.3, random_state=111)

In [20]:
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [21]:
pred_train_2=model.predict(X_train)
pred_test_2=model.predict(X_test)

In [22]:
mse_train_2=mean_squared_error(y_true=y_train, y_pred=pred_train_2)
mse_test_2=mean_squared_error(y_true=y_test, y_pred=pred_test_2)

In [23]:
print(mse_train_2)
print(mse_test_2)

1.870670572959685
1.8991899558133656

In [24]:
mse_test_1==mse_test_2

False

In [25]:
train_fit_X_st

         season  holiday  workingday   weather      temp     atemp
0     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
1     -1.349864 -0.17149   -1.460672 -0.660178 -1.438907 -1.182421
2     -1.349864 -0.17149   -1.460672 -0.660178 -1.438907 -1.182421
3     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
4     -1.349864 -0.17149   -1.460672 -0.660178 -1.333661 -1.092737
...         ...      ...         ...       ...       ...       ...
10881  1.338012 -0.17149    0.684616 -0.660178 -0.596935 -0.467310
10882  1.338012 -0.17149    0.684616 -0.660178 -0.702182 -0.735182
10883  1.338012 -0.17149    0.684616 -0.660178 -0.807428 -0.913959
10884  1.338012 -0.17149    0.684616 -0.660178 -0.807428 -0.735182
10885  1.338012 -0.17149    0.684616 -0.660178 -0.912675 -0.824865

[10886 rows x 6 columns]

In [26]:
train_Y=train['count']

In [27]:
X_train, X_test, y_train, y_test=train_test_split(train_fit_X_st, train_Y, test_size=0.3, random_state=111)

In [28]:
model=LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [29]:
pred_train_3=model.predict(X_train)
pred_test_3=model.predict(X_test)

In [30]:
mse_train_3=mean_squared_error(y_true=y_train, y_pred=pred_train_3)
mse_test_3=mean_squared_error(y_true=y_test, y_pred=pred_test_3)

In [31]:
print(mse_train_3)
print(mse_test_3)

27151.558151747526
27280.76790193445